*{
  margin: 0;
}


.app{
  background-color:#fafafa;
}

.app_header{
  object-fit: contain;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;
  padding: 20px;
  border-bottom: 1px solid lightgray;
  display: flex;
  justify-content: space-between;
}

.app_post{
  padding: 20px;
}

.app_headerImage{
  object-fit: contain;
}

.app_form{
  display: flex;
  flex-direction: column;
}